name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Maven build
      run: mvn clean package -DskipTests
      working-directory: src/api

    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor.toLowerCase() }}
        password: ${{ secrets.GITHUB_TOKEN }}


    - name: Docker build
      run: docker build -t ghcr.io/${{ github.actor.toLowerCase() }}/todo-app:${{ github.sha }} .
      working-directory: src/api

    - name: Docker push
      run: docker push ghcr.io/${{ github.actor.toLowerCase() }}/todo-app:${{ github.sha }}
