name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Java 25
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'temurin'
        cache: maven

    - name: Check Java version
      run: |
        echo "JAVA_HOME=$JAVA_HOME"
        java -version
        javac -version

    - name: Check Maven Version
      run: mvn -version

    - name: Maven build
      run: mvn clean package -DskipTests
      working-directory: src/api

    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Docker build
      run: |
        ACTOR=$(echo $GITHUB_ACTOR | tr '[:upper:]' '[:lower:]')
        docker build -t ghcr.io/$ACTOR/todo-app:${GITHUB_SHA} .
      working-directory: src/api

    - name: Docker push
      run: |
        ACTOR=$(echo $GITHUB_ACTOR | tr '[:upper:]' '[:lower:]')
        docker push ghcr.io/$ACTOR/todo-app:${GITHUB_SHA}

